@{
    ViewData["Title"] = "View Movies";
}

@model IEnumerable<Movie>

<br />
<div class="text-center">
    <h2>Joel's Film Collection</h2>
</div>

<!--Print out films from database-->

@foreach (var x in Model)
{
    <div class="card card-outline-primary m-1 p-1 card bg-light mb-3">
        <br />
        <div class="ml-4">
            <h4>
                @x.Title
            </h4>
            <br />
            <div class="text-muted">
                <p>@x.Category</p>
                <p>@x.Year</p>
                <p>@x.Rating</p>
                @if (x.Edited == true)
                {
                    <p>This movie has been edited.</p>
                }
                else
                {
                    <p>This movie hasn't been edited.</p>
                }
                <br />
                <p>Lent to: @x.LentTo</p>
                <p>Additional Notes: @x.Notes</p>
            </div>
        </div>
    </div>
}
